<div class="sidebar-container">
    <div id="sidebar" class="sidebar-right">
        <div id="toc-w-r-f" class="toc-w-r-f-r toc" role="navigation"
        aria-labelledby="mw-toc-heading">
        <div class="toctitle" lang="en" dir="ltr">
            <h2 id="mw-toc-heading">Table of Contents</h2></div>
            {{ replace .Page.TableOfContents "li id=\"TableOfContents\"" "div class=\"toc\"" | safeHTML }}
        </div>
        {{ if .Params.pickName }}
        <div class="staff-pick">
            <div class="spick">Staff Pick</div>
        <div class="suggest-card">
            <div class="imgBx">
                <img src="{{.Params.pickImg}}" alt="Staff Pick">
            </div>
            <div class="contextBx">
                <div class="pname">{{.Params.pickName}}</div>
                <a href="{{.Params.pickLink}}" class="buy">View On Amazon</a>
            </div>
        </div>
        </div>
        {{ end }}
        {{ $related := .Site.RegularPages.RelatedIndices . "categories" "date" | first 5 }}
        {{ with $related }}
        <div class="related-posts">
        <h3>Related Posts</h3>
        <ul>
            {{ range . }}
            <li>
                <a href="{{.RelPermalink}}">
                    <img src="{{.Params.image}}" class="lazyload" loading="lazy" alt="{{.Title}}" width="283" height="159">
                    <div class="post-title">{{.Title}}</div>
                </a>
            </li> {{ end }}
        </ul>
        {{ end }}
        </div>
    </div>
</div>